<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Matérias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">


</head>

<body>
    <div class="container">
        <h1>Registro de Matérias</h1>
        <form id="data-form" onsubmit="enviarDados(event);">
            <label for="canal">Canal</label>
            <select id="canal" name="canal" onchange="updateJornais();" required>
                <option value="">Selecione um canal</option>
                <option value="Globo">Globo</option>
                <option value="Record">Record</option>
            </select>

            <label for="jornal">Jornal</label>
            <select id="jornal" name="jornal" required>
                <option value="">Selecione um jornal</option>
            </select>

            <label for="tema">Tema</label>
            <select id="tema" name="tema" required>
                <option value="">Escolha um Tema</option>
                <option value="Administração">Administração</option>
                <option value="Agricultura">Agricultura</option>
                <option value="CCZ">CCZ</option>
                <option value="Codemca">Codemca</option>
                <option value="Cultura">Cultura</option>
                <option value="Defesa Civil">Defesa Civil</option>
                <option value="Economia">Economia</option>
                <option value="Educação">Educação</option>
                <option value="Esportes">Esportes</option>
                <option value="Fazenda">Fazenda</option>
                <option value="Fundecam">Fundecam</option>
                <option value="Governo">Governo</option>
                <option value="Iluminação">Iluminação</option>
                <option value="Infraestrutura">Infraestrutura</option>
                <option value="Limpeza Pública">Limpeza Pública</option>
                <option value="Meio Ambiente">Meio Ambiente</option>
                <option value="Obras">Obras</option>
                <option value="Ordem Pública">Ordem Pública</option>
                <option value="Previcampos">Previcampos</option>
                <option value="PROCON">PROCON</option>
                <option value="Saúde">Saúde</option>
                <option value="Saúde">Segurança</option>
                <option value="Social">Social</option>
                <option value="Transporte">Transporte</option>
                <option value="Trânsito">Trânsito</option>
                <option value="Turismo">Turismo</option>
            </select>

            <label for="datahora">Data e Hora</label>
            <input type="datetime-local" name="datahora" required>

            <label for="teor">Teor</label>
            <select id="teor" name="teor" required>
                <option value="">Escolha um Teor</option>
                <option value="Negativo">Negativo</option>
                <option value="Neutro">Neutro</option>
                <option value="Positivo">Positivo</option>
            </select>

            <label for="texto">Texto da Matéria</label>
            <textarea name="texto" rows="3" required></textarea>

            <div class="button-container">
                <div class="button-row">
                    <button id="add-data" type="submit">Adicionar Dados</button>
                    <button id="delete-data" type="button">Excluir Dados</button>
                </div>

                <div class="button-row">
                    <div class="date-container">
                        <label for="dataEscolhida" class="label">Data</label>
                        <input type="date" id="dataEscolhida" name="dataEscolhida">
                    </div>

                    <!-- Novo seletor para escolher o período do dia (Manhã, Tarde ou Noite) -->
                    <div class="date-container">
                        <label for="periodo" class="label">Período</label>
                        <select id="periodo" name="periodo">
                            <option value="">Escolha o Período</option>
                            <option value="Manha">Manhã</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noite">Noite</option>
                        </select>
                    </div>

                    <button onclick="gerarTextoMensagem()" class="gerar-texto-mensagem">Gerar Texto Mensagem</button>
                </div>

                <div class="button-row">
                    <button id="dashboard-button">Gerar Dashboard Mensal</button>
                    <button id="download-excel" type="button">Baixar Excel</button>
                </div>
            </div>

        </form>
    </div>

    <!-- Modal para excluir linhas -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <h2>Quantas linhas deseja excluir?</h2>
            <label for="numLinhas"></label>
            <div class="counter-container">
                <button id="decrease">−</button>
                <input type="number" id="numLinhas" value="1" min="1">
                <button id="increase">+</button>
            </div>
            <button id="confirm-delete">Confirmar</button>
        </div>
    </div>

    <!-- Modal para seleção de mês antes de gerar o dashboard -->
    <div id="dashboard-modal" class="modal">
        <div class="modal-content">
            <h2>Selecionar Mês</h2>
            <div class="counter-container">
                <select id="mesSelecionado" name="mes" required>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
            <button id="dashboard-button" type="button" onclick="gerarDashboard()">Gerar Dashboard Mensal</button>
            <p id="mensagemErro" style="color: red; display: none;"></p>
        </div>
    </div>

    <!-- Modal de download do excel -->
    <div id="download-excel-modal" class="modal">
        <div class="modal-content">
            <div class="date-container">
                <label for="dataEscolhida-excel" class="label">Data</label>
                <input type="date" id="dataEscolhida-excel" name="dataEscolhida">
            </div>

            <button id="download-excel-mensal" type="button">Baixar Excel Mensal</button>
            <button id="download-excel-completo" type="button" onclick="baixarExcel()">Baixar Excel Completo</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>